#editor tmp
*.swp
~*
*~

# Cmakes
CMakeCache.txt
CMakeFiles
Makefile
cmake_install.cmake


# Compiled Static libraries
*.lai
*.la
*.a
*.lib


# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Executables
*.exe
*.out
*.app

# specific dir
bin

